
@{
    ViewBag.Title = "Study";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h3>[html]教程</h3>
<ul>
    <li><a href="#">html</a></li>
    <li><a href="#">html5</a></li>
    <li><a href="#">css</a></li>
    <li><a href="/Account/Register">注册</a></li>
</ul>

