
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
</head>
<body>
    <div>
        <h2>@TempData["content"]</h2>
        <h2>ViewData：@ViewData["date"]</h2>
        <h2>ViewBag：@ViewBag.time</h2>
    </div>
</body>
</html>
