
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div>
        <h2>ViewData：@ViewData["date"]</h2>
        <h3>ViewBag：@ViewBag.time</h3>
        <h3>ViewBag取ViewData的date：@ViewBag.date</h3>
        <h3>ViewData取ViewBag的time：@ViewData["time"]</h3>
    </div>
</body>
</html>
